<% content_for :navbar_id, "navbar_home" %>
<div id="home-page"></div>
<div class="lessen-banner">
  <div class="lessen-banner-content">
    <div class="titles-banner">
      <h1>Cours collectifs en live, où tu veux, quand tu veux</h1>
      <div id="textSlider">
        <div class="scroller">
          <div class="inner">
            <p>Plus d'élèves participent, plus le prix diminue</p>
            <p>Partage le cours de ton choix avec tes amis</p>
          </div>
        </div>
      </div>
    </div>
<!-- -->
  </div>
</div>


<% content_for :navbar_id, "navbar_home" %>
<div id="home-page"></div>
<div class="lessen-banner">
  <div class="lessen-banner-content">
    <div class="titles-banner">
      <h1>Cours collectifs en live, où tu veux, quand tu veux</h1>
      <div id="textSlider">
        <div class="scroller">
          <div class="inner">
            <p>Plus d'élèves participent, plus le prix diminue</p>
            <p>Partage le cours de ton choix avec tes amis</p>
          </div>
        </div>
      </div>
    </div>
    <div class="search-group">
    <%= simple_form_for :query, method: :get, url: lessons_path, html: { class: "search-bar-home" }  do |f| %>
<!--  -->

      <button type="submit" id="btn-lessen-search"> <i class=" fas fa-search"></i></button>
    <% end %>
    </div>
  </div>
</div>



<div class="container-how">
  <div class="row-how-first">
    <h1>Vos professeurs préférés, accessibles dans le monde entier</h1>
  </div>

  <div class="row-how-second">
      <div class="container-how-diagram">
        <div class="container-icon-text">
        <div class="icon-text">
            <div class="how-content">
              <h5><strong>Recherche</strong></h5>
              <p>Choisis parmi nos centaines de leçons toutes données par des professeurs vérifiés et diplomés</p>
            </div>
        </div>
        <div class="icon-text">
            <div class="how-content">
              <h5><strong>Réserve</strong></h5>
              <p>Inscrit toi à l'avance puis préviens tes amis pour qu'ils participent au cours aussi. Plus il y a de participants, moins tu paies!</p>
            </div>
        </div>
        <div class="icon-text">
            <div class="how-content">
              <h5><strong>Rejoins le live</strong></h5>
              <p>A l'heure du cours, connecte toi pour voir ton cours en live. Le replay sera disponible dès la fin du cours </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

